#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.site-layout-background{
  width: 100px !important;
  max-width: 100px !important;
  flex: 0 0 100px !important;
}

.breadcrumb-container{
  background-color: rgba(79, 180, 179, 0.4);
  padding: 10px 20px;
  .ant-breadcrumb{
    span, a{
      color: #FFF;
    }
  }
}

.ant-layout-sider-children {
  background-color: #284558;
  .side-menu-controller-btn {
    width: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    #{$end}: -15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  }
}

.site-layout-background {
  background: transparent;
}

.ant-layout {
  height: 100%;
}
